@{
  Layout = "_Layout";
}

<h1>@Model["Animal"].CountryName</h1>

<p>Type: @Model["Animal"].Type</p>
<p>Name: @Model["Animal"].Name</p>
<p>Sex: @Model["Animal"].Sex</p>
<p>Breed: @Model["Animal"].Breed</p>
<p>Date of Admittance: @Model["Animal"].DateOfAdmit</p>

<h2>Animals of @Model["Animal"].CountryName:</h2>
@* <ol>
@foreach (Animal animal in @Model["animal"])
{
  <li><a href="/animals/@Model["animal"].CountryCode/cities/@city.CityId">@city.CityName</a></li>
}
</ol> *@
