@using AnimalShelter.Models;

<h1>Current Lonely Animals</h1>
<ul>

@if (Model.Count == 0)
{
  <p>There are no animals here! Yay!</p>
}
@if(Model.Count != 0)
{
  @foreach (Animal animal in Model)
  {
    <li>Type of animal: @animal.Type</li>
    <li>Name of animal: <b>@animal.Name</b></li>
    <li>Sex of animal: @animal.Sex</li>
    <li>Breed of animal: @animal.Breed</li>
    <li>Date of admittance: @animal.DateOfAdmit</li>
    <br>
  }
}

</ul>
<a href="/animals/new">Add a new animal</a>
<a href="/animals">View all</a>
